name: Build Arduino Library

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Compile Arduino sketch
      uses: arduino/compile-sketches@v1
      with:
        fqbn: Seeed-mbed:rp2040:seeed_xiao_rp2040
        platforms: |
          - name: Seeed-mbed:rp2040
            source-url: https://files.seeedstudio.com/arduino/package_seeeduino_boards_index.json
        libraries: |
          - name: NmraDcc
        sketch-paths: |
          - examples/DccDecoder
